/*
Colour pallet
#002366
#251607
#FFFFFF
#f5f5f5
*/


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #ffffff;
}

/* TOP HEADER NON-FIXED */
/* CONTAINS INSTAGRAM, AND BLUE BAR */
.top_header {
  display: grid;
  grid-template-columns: 100%;
  background-image: url("images/colors and gradients/royal-blue-gradient.jpg");
  background-position: top;
}

.topContainer {
  padding: 3px;
  padding-left: 4em;
  margin-top: auto;
}

#socialMedia {
  margin-right: 15px;
}


/* SECOND TOP HEADER FIXED */
/* CONTAINS LOGO, NAVIATION BUTTONS, LOGIN*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  margin-top: 101px;
}

.header {}

.header_wrapper { /*wraps logo and NAV*/
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-style: solid;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-color: #002366;
  padding: 20px;
  position: relative;
  background-color: white;
  margin-right: 0%;
  padding-right: 4%;
}

li, a, Nav___links{
  text-decoration: none;
  font-size: 18px;
  color: #002366;
}

li {
}

.Nav___UI li{
  display: inline-block;
  padding: 0px 40px;
}


.logo {
  float: left;
  margin-left: 30px;
  height: 100px;
  width: auto;
}

.signin_button {
	box-shadow: 0px 5px 15px -7px #000000;
	background-color:#304886;
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Arial', sans-serif;
	font-size:15px;
	padding:12px 35px;
	text-decoration:none;
  border: none;
}

.signin_button:hover {
	background-color:#0a0cd4;
  transition: all 0.2s ease 0s;
}
.signin_button:active {
	position:relative;
	top:1px;
}



/*----------------- MAIN BODY--------------*/

.Nav___UI li a {
  transition: all 0.2s ease 0s;
}

.Nav___UI li a:hover {
  color: gray;
  font-size: 22px;
}

.main___pic img {
  margin-top: auto;
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

#map {
  height: 400px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;

}

/*----------------- Modal Overlay --------------*/

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  display: none;
}

.login_box {
  width: 400px;
  height: 400px;
  background-color: white;
  border: 17px none transparent;
  border-radius: 11px;
  position:
}

.second_header {
  box-sizing: border-box;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.second_header .logo {
  width: auto;
  height: 50px;
}

.second_header img {
    margin-right: 0%;
    margin-top: -18%;
}

.second_header p {
  font-size: 40px;
  margin-left: 5%;
  color: #4285F4;
}

/* INPUTS*/
.input_box {
  margin-left: 5%;
}

#email_id {
  padding: 8px;
  font-size: 15px;
  border-width: 2px;
  border-radius: 6px;
  border-color: #f1f8f;
  border-style: double;
  color: #b3b3b3;
}

#password_id {
  padding: 8px;
  font-size: 15px;
  border-width: 2px;
  border-radius: 6px;
  border-color: #f1f8f;
  border-style: double;
  color: #b3b3b3;
  margin-top: 10px;
}

.login_button {
	box-shadow: 0px 5px 15px -7px #000000;
	background-color:#4285F4;
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Arial', sans-serif;
	font-size:15px;
	padding:5px 20px;
	text-decoration:none;
  border: none;
  margin-top: 10px;
  margin-left: 5%;
}

.login_button:hover {
	background-color:#0049c7;
  transition: all 0.2s ease 0s;
}
.login_button:active {
	position:relative;
	top:1px;
}

.register a {
  color: ##4285F4;
  margin-left: 5%;
  text-decoration: none;
}

.register a:hover {
   text-decoration: underline;
}

/* Additional login */
.split {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.google_login {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
}

.google_login img {
  height: auto;
  width: auto;
}

.close {
  position: absolute;
  font-weight: bolder;
  top: 25%;
  left: 62%;
  color: white;
  font-size: 30px;
  transform: rotate(45deg);
  cursor: pointer;
}
