/*
Colour pallet
#002366
#251607
#FFFFFF
#f5f5f5
#304886
#0049c7
*/


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #ffffff;
}

/*----------------------------------------*/
/* TOP HEADER NON-FIXED */
/* CONTAINS INSTAGRAM, AND BLUE BAR */
/*----------------------------------------*/
.top_header {
  display: grid;
  grid-template-columns: 100%;
  background-image: url("images/colors and gradients/royal-blue-gradient.jpg");
  background-position: top;
}

.topContainer {
  padding: 3px;
  padding-left: 4em;
  margin-top: auto;
}

#socialMedia {
  margin-right: 15px;
}

/*----------------------------------------*/
/* SECOND TOP HEADER FIXED */
/* CONTAINS LOGO, NAVIATION BUTTONS, LOGIN*/
/*----------------------------------------*/

/* Used for fixing fixing the header when scolled */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  down: 500px;
}

 /*wraps logo and NAV*/
.header_wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-style: solid;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-color: #002366;
  padding: 20px;
  position: relative;
  background-color: white;
  margin-right: 0%;
  padding-right: 4%;
}

/* Nav links style */
li, a, Nav___links{
  text-decoration: none;
  font-size: 18px;
  color: #002366;
}

.Nav_UI li {
  display: inline-block;
  padding: 0px 40px;
}

.Nav_UI li a {
  transition: all 0.2s ease 0s;
}

.Nav_UI li a:hover {
  color: gray;
  font-size: 22px;
}

.logo { /* Logo style */
  float: left;
  margin-left: 30px;
  height: 100px;
  width: auto;
}

/*FIX*/
.header-right {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.5;
}

.user-icon {
  height: 50px;
  width: auto;
}

.profile_button { /* Sign in button style */
	box-shadow: 0px 5px 15px -7px #000000;
	background-color:#ffffff;
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:#304886;
	font-family: 'Arial', sans-serif;
	font-size:15px;
	padding:12px 35px;
	text-decoration:none;
  border: none;
  outline: none;
}

.profile_button:hover {
	background-color: #F5F5F5;
  transition: all 0.2s ease 0s;
}

.profile_button:active {
	position:relative;
	top:1px;
}

.signin_button { /* Sign in button style */
	box-shadow: 0px 5px 15px -7px #000000;
	background-color:#304886;
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Arial', sans-serif;
	font-size:15px;
	padding:12px 35px;
	text-decoration:none;
  border: none;
  outline: none;
}

.signin_button:hover {
	background-color: #293d70;
  transition: all 0.2s ease 0s;
}

.signin_button:active {
	position:relative;
	top:1px;
}

.signout_button { /* Sign in button style */
	box-shadow: 0px 5px 15px -7px #000000;
	background-color:#304886;
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Arial', sans-serif;
	font-size:15px;
	padding:12px 35px;
	text-decoration:none;
  border: none;
  outline: none;
  display: none;
}

.signout_button:hover {
	background-color: #293d70;
  transition: all 0.2s ease 0s;
}

.signout_button:active {
	position:relative;
	top:1px;
}


/*----------------------------------------*/
/*------- LOGIN Modal Overlay ------------*/
/*----------------------------------------*/
.login_modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  display: none;
}

.login_box {
  width: 400px;
  height: 450px;
  background-color: white;
  border: 17px none transparent;
  border-radius: 11px;
}

.second_header {
  box-sizing: border-box;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.second_header .logo {
  width: auto;
  height: 50px;
}

.second_header img {
    margin-right: 0%;
    margin-top: -18%;
}

.second_header p {
  font-size: 40px;
  margin-left: 5%;
  color: #304886;
}

.input_box {
  margin-left: 22%;
}

#login_email_id, #login_password_id {
  padding: 8px;
  font-size: 15px;
  border-width: 2px;
  border-radius: 6px;
  border-color: #f1f8f;
  border-style: double;
  color: #b3b3b3;
  margin-top: 10px;
  margin-left: 19%;
}

.login_button {
	box-shadow: 0px 5px 15px -7px #000000;
	background-color: #304886;
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Arial', sans-serif;
	font-size:15px;
	padding:5px 20px;
	text-decoration:none;
  border: none;
  outline: none;
  margin-top: 20px;
  margin-left: 40%;
}

.login_button:hover {
	background-color: #293d70;
  transition: all 0.2s ease 0s;
}
.login_button:active {
	position:relative;
	top:1px;
}

.login-register {
  color: #304886;
  margin-left: 5%;
  text-decoration: none;
  margin-left: 36%;
}

.login-register:hover {
   text-decoration: underline;
   cursor: pointer;
   color: #293d70;
}

/* Additional login */
.split {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.google_login {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
}

.google_login img {
  height: auto;
  width: auto;
  cursor: pointer;
}

.close_login {
  position: fixed;
  font-weight: bolder;
  top: -10%;
  left: 104%;
  color: white;
  font-size: 30px;
  transform: rotate(45deg);
  cursor: pointer;
}

/*----------------------------------------*/
/*------- REGISTER Modal Overlay ---------*/
/*----------------------------------------*/

.register_modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  display: none;
}

.register_box {
  width: 400px;
  height: 450px;
  background-color: white;
  border: 17px none transparent;
  border-radius: 11px;
}

/* HEADER (LOGO AND REGISTER) */
.third_header {
  box-sizing: border-box;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.third_header .logo {
  width: auto;
  height: 50px;
}

.third_header img {
    margin-right: 0%;
    margin-top: -18%;
}

.third_header p {
  font-size: 40px;
  margin-left: 5%;
  color: #304886;
}

/* INPUTS*/
.input_box {
  margin-left: 5%;
}

#reg_Fname_id, #reg_Lname_id {
  padding: 8px;
  font-size: 15px;
  border-width: 2px;
  border-radius: 6px;
  border-color: #f1f8f;
  border-style: double;
  color: #b3b3b3;
  margin-top: 10px;
  width: 130px;
  margin-left: 5%;
}

#reg_password_id, #reg_Cpassword_id, #reg_email_id, #reg_address_id {
  padding: 8px;
  font-size: 15px;
  border-width: 2px;
  border-radius: 6px;
  border-color: #f1f8f;
  border-style: double;
  color: #b3b3b3;
  margin-top: 10px;
  margin-left: 20%;

}

.register_button {
	box-shadow: 0px 5px 15px -7px #000000;
	background-color: #304886;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Arial', sans-serif;
	font-size:15px;
	padding:5px 20px;
	text-decoration:none;
  border: none;
  margin-top: 20px;
  margin-left: 40%;
  outline: none;
}

.register_button:hover {
	background-color: #293d70;
  transition: all 0.2s ease 0s;
}
.register_button:active {
	position:relative;
	top:1px;
}

.register a:hover {
   text-decoration: underline;
}

.close_registration {
  font-weight: bolder;
  top: -10%;
  left: 104%;
  color: white;
  font-size: 30px;
  transform: rotate(45deg);
  cursor: pointer;
  position: absolute;
}
/*----------------------------------------*/
/*-------  Profile Modal Overlay ---------*/
/*----------------------------------------*/

.profile_modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top:0;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  display: none;
}

.profile_box {
  width: 700px;
  height: 450px;
  background-color: white;
  border: 17px none transparent;
  border-radius: 11px;
}

.close_profile {
  font-weight: bolder;
  top: -10%;
  left: 104%;
  color: white;
  font-size: 30px;
  transform: rotate(45deg);
  cursor: pointer;
  position: absolute;
}

.profile_pic {
  height: 40%;
  width: auto;
  margin-left: 35%;
  align-items: center;
  left: auto;
  right: auto;
  padding: 20px;
  justify-content: center;

  text-align: center;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
}



/*----------------------------------------*/
/*-------------- FOOTER ------------------*/
/*----------------------------------------*/

#footer{
  background-color: #304886;
  color: white;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: auto;
  padding: 10px;
  font-weight: normal;
}

.footer a {
  font-family: 'Arial', sans-serif;
  color: white;
  font-weight: normal;
  text-decoration: none;
  padding: 10px;
}
