/*
Colour pallet
#002366
#251607
#FFFFFF
#f5f5f5
*/


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #ffffff;
}

/* TOP HEADER NON-FIXED */
/* CONTAINS INSTAGRAM, AND BLUE BAR */
.top_header {
  display: grid;
  grid-template-columns: 100%;
  background-image: url("images/colors and gradients/royal-blue-gradient.jpg");
  background-position: top;
}

.topContainer {
  padding: 3px;
  padding-left: 4em;
  margin-top: auto;
}

#socialMedia {
  margin-right: 15px;
}


/* SECOND TOP HEADER FIXED */
/* CONTAINS LOGO, NAVIATION BUTTONS, LOGIN*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  margin-top: 101px;
}

.header {}

.header_wrapper { /*wraps logo and NAV*/
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-style: solid;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-color: #002366;
  padding: 20px;
  position: relative;
  background-color: white;
  margin-right: 0%;
  padding-right: 4%;
}

li, a, Nav___links{
  text-decoration: none;
  font-size: 18px;
  color: #002366;
}

li {
}

.Nav___UI li{
  display: inline-block;
  padding: 0px 40px;
}


.logo {
  float: left;
  margin-left: 30px;
  height: 100px;
  width: auto;
}

.login_button {
	box-shadow: 0px 5px 15px -7px #000000;
	background-color:#0049c7;
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Arial', sans-serif;
	font-size:15px;
	padding:12px 35px;
	text-decoration:none;
  border: none;
}
.login_button:hover {
	background-color:#0a0cd4;
  transition: all 0.2s ease 0s;
}
.login_button:active {
	position:relative;
	top:1px;
}



/*----------------- MAIN BODY--------------*/

.Nav___UI li a {
  transition: all 0.2s ease 0s;
}

.Nav___UI li a:hover {
  color: gray;
  font-size: 22px;
}

.main___pic img {
  margin-top: auto;
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

#map {
  height: 400px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;

}
